src/main/resources/documents.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://spring.io/guides/gs-producing-web-service"
 targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:complexType name="document">
        <xs:sequence>
            <xs:element minOccurs="1" name="base64Content" type="xs:string" />
            <xs:element name="id" type="xs:string" />
            <xs:element minOccurs="0" name="mimeType" type="xs:string" />
            <xs:element minOccurs="1" name="description" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>
